{% extends "base.html" %}


{% block title %}create scan task{% endblock %}

{% block content %}
<div class="container">
   <div class="row" >
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>create task</strong></h3>
    </div>
    <div class="panel-body">
    <form role="form" action="/createtask/" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">domain</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstname" placeholder="please input domain" name="domain">
        </div>

      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_intranet_ips">ips</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="ips" id="id_intranet_ips" maxlength="150" placeholder="split by , for now only support CIDR I.E. 127.0.0.1/24">
        </div>
        
      </div>
      <div class="form-group">
        <label for="inputfile" class="col-sm-2 control-label" >文件输入</label>
        <div class="col-sm-10">
            <input type="file" id="inputfile" name="files"><br>
            <input type="radio" id="domain" name="filecontent" value='subdomain'>subdomain<br>
            <input type="radio" id="ip" name="filecontent" value='subip' checked='checked'>subip
        </div>
        
      </div>
        {%csrf_token%}
        <!-- {{form}} -->
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">submit</button>
        </div>
    </form>


    </div>
</div>
</div>
</div>


<!-- <br/>
<div class="container">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>select task and upload apk file</strong></h3>
        </div>
        <div class="panel-body">
           <form role="form" action="/scandevice/uploadapk" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="firstname" class="col-sm-2 control-label">taskid</label>
                  <div class="col-sm-10">
                    <select id="firstname" class="form-control" name="taskid">
                      {% for task in tasks %}
                      <option>{{task}}</option>
                      {% endfor %}
                    </select>

                  </div>

                </div>

                <div class="form-group">
                  <label for="inputfile" class="col-sm-2 control-label" >文件输入</label>
                  <div class="col-sm-10">
                      <input type="file" id="inputfile" name="apkfile">
                  </div>
                  
                </div>
                  {%csrf_token%}
                  <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">submit</button>
                  </div>
              </form>

        </div>
      </div>
     
    </div>

</div>
 -->
{% endblock %}
