{% extends 'base.html' %}

{% block title %}
index
{% endblock %}

{% block content%}


<div class="container">

      <div class="jumbotron">
        <h1 class="display-3 text-center">webscanner</h1>
        <p class="lead">webscanner is a web security pentest tool, which aims to detect the vulnerabilities in company, <br>
			It can detect like infomation leakage, sensitive port and some high vulnerability like struts2 and so on.<br>
			you can upload a text contains subdomains<-> ip each line (you can get it from subdomainsbrute)</p>
        <p class="text-center"><a class="btn btn-lg btn-success text-center" href="/create" role="button">go to create</a></p>
      </div>

	  <!--
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>XSS</h4>
          <p>xss is a </p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
		-->
      </div>
{% endblock%}
