{% extends "base.html" %}


{% block title %}
showdomainip
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title text-center">domain-ip-info
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">domains
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for obj in domainobjs%}
                        <li class="divider"></li>
                        <li>
                            <a href="?domain={{obj.id}}">{{obj.domain}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                </h3>
            </div>
            
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>ip</th>
                            <th>port</th>
                            <th>product</th>
                            <th>version</th>
                            <th>name</th>
                            <th>conf</th>
                            <th>httptitle</th>
                            <th>domain id </th>
                            <!-- <th>action1 </th> -->
                            <!-- <th>action2 </th> -->
                        </tr>
                    </thead>
                    <tbody>

                    {% for obj in ipobjs.object_list %}
                    <tr>
                        <td> {{obj.id}} </td>
                        <td>{{obj.ip}} </td>
                        <td> {{obj.port}}</td>
                        <td>{{obj.cmstype}} </td>
                        <td> {{obj.product}}</td>
                        <td> {{obj.name}}</td>
                        <td> {{obj.conf}}</td>
                        <td> {{obj.httptitle}}</td>
                        <td> {{obj.id_domain}}</td>
                        <!-- <td><a href="/scandevice/deletestatus?taskid={{task.id}}">delete</a></td> -->
                        <!-- <td><a href="/scandevice/showceleryresult?celery_taskid={{task.celery_taskid}}">show celery result</a></td> -->
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>



    <div class="panel panel-default">
        <div class="panel-body">
        <ul class="pager">
            {% if ipobjs.has_previous %}
              <li class="previous"> <a id="ppage" href="#">Previous</a></li>
            {% else %}
            <li class="previous disabled"><a href="#">&larr; Older</a></li>
            {% endif %}


              Page {{ ipobjs.number }} of {{ ipobjs.paginator.num_pages }}.

            {% if ipobjs.has_next %}
             <li class="next"> <a id="npage" href='#'>Next</a> </li>
            {% endif %}
        </ul>
        </div>
    </div>


       

    </div>
</div>

<script>
function get_previous_page(){
    var loc = "";
    var url = window.location.pathname + window.location.search;
    var page = 1;
    {% if ipobjs.has_previous %}
        page = {{ipobjs.previous_page_number}}; 
    {% else %}
        page = 1;
    {% endif %}
    loc = set_url_param(url, "page", page);

    $("a#ppage").attr('href', loc);
}


function get_next_page(){
    var loc = "";
    var url = window.location.pathname + window.location.search;
    var page = 1;
    {% if ipobjs.has_next %}
        page = {{ipobjs.next_page_number}}; 
    {% else %}
        page = '1';
    {% endif %}
    
    loc = set_url_param(url,  "page", page);
    $("a#npage").attr('href', loc);
    //return loc;
}


function set_url_param(url,param,value){
        if(url.indexOf('?') != -1){  
                var p = new RegExp("(\\?|&"+param+")=[^&]*");
                if(p.test(url)){
                        url = url.replace(p,"$1="+value);
                }else{
                        url = url+'&'+param+'='+value;
                }
        }else{
                url = url+'?'+param+'='+value;
        }
        return url;
}


get_previous_page();
get_next_page();



</script>


<!--     <a href="/scandevice/create"> go to create one task </a><br>
    <br>
    <a href="/scandevice/showstatus">showstatus</a>
 -->
{% endblock %}






